Repository SkillsFundingAgency/das-payments-V2, pull requests merged in 2019-05, with the labels that each got.

#376 Release/release pr 374 pv2 677 711
  src/SFA.DAS.Payments.AcceptanceTests.EndToEnd/Tests/Levy - Data Locks/PV2-677 - DLOCK07_A_when no matching record found for the changed price.feature
  src/SFA.DAS.Payments.AcceptanceTests.EndToEnd/Tests/Levy - Data Locks/PV2-711- DLOCK10 when the employer stops payments for a learner on a commitment.feature
Labels: Release/Release_PR_374_PV2_677_711

#386 Release/release pv2 339 525 526 684
  src/SFA.DAS.Payments.AcceptanceTests.EndToEnd/EventMatchers/RequiredPaymentEventMatcher.cs
  src/SFA.DAS.Payments.AcceptanceTests.EndToEnd/SFA.DAS.Payments.AcceptanceTests.EndToEnd.csproj
  src/SFA.DAS.Payments.AcceptanceTests.EndToEnd/Tests/Inconsistent Submission Data/PV2-339 Levy learner - change in aim sequence number.feature
  src/SFA.DAS.Payments.AcceptanceTests.EndToEnd/Tests/Inconsistent Submission Data/PV2-525 Levy learner changes standard code.feature
  src/SFA.DAS.Payments.AcceptanceTests.EndToEnd/Tests/Inconsistent Submission Data/PV2-526 Non-Levy learner, standard changes retrospectively.feature
  src/SFA.DAS.Payments.AcceptanceTests.EndToEnd/Tests/Inconsistent Submission Data/PV2-684 Levy learner, where learner is deleted, and transaction added for reversal.feature
Labels: Release/Release_PV2_339_525_526_684

#385 PV2-684 Learner deleted
  src/SFA.DAS.Payments.AcceptanceTests.EndToEnd/Tests/Inconsistent Submission Data/PV2-684 Levy learner, where learner is deleted, and transaction added for reversal.feature
Labels: Release/Release_PV2_339_525_526_684

#389 Release/release pv2 930
  src/SFA.DAS.Payments.AcceptanceTests.EndToEnd/Tests/Non-Levy - Care Bursary/E2E - PV2-930 - Non-Levy learner in co-funding receives care leaver payment but then withdraws resulted in refund.feature
Labels: Release/Release_PV2_930
